<div id="container">
  <h2 style="padding-top: 80px; text-align: center;">Murojaatlar</h2>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef class="ustun">ID</th>
      <td mat-cell *matCellDef="let element">{{element.id}}</td>
    </ng-container>

    <ng-container matColumnDef="talaba">
      <th mat-header-cell *matHeaderCellDef class="ustun">Murojaatchi talaba</th>
      <td mat-cell *matCellDef="let element">{{element.talaba.familiya+" "+element.talaba.ism}}</td>
    </ng-container>
    <ng-container matColumnDef="mavzu">
      <th mat-header-cell *matHeaderCellDef class="ustun">Murojaat turi</th>
      <td mat-cell *matCellDef="let element">{{element.mavzu}}</td>
    </ng-container>

    <ng-container matColumnDef="vaqt">
      <th mat-header-cell *matHeaderCellDef class="ustun">Murojaat vaqti</th>
      <td mat-cell *matCellDef="let element" style="height: 10px;">{{element.created |
        date:'d/M/yy,&nbsp;&nbsp;&nbsp;H:mm '}}</td>
    </ng-container>
    <ng-container matColumnDef="holat">
      <th mat-header-cell *matHeaderCellDef class="ustun">Holat</th>
      <td mat-cell *matCellDef="let element"
        [style.color]="element.holat=='RAD_ETILDI' ? 'red': element.holat=='TASDIQLANDI' ? 'rgb(55, 202, 5)': 'rgb(255, 192, 1)'">
        {{element.holat}}</td>
    </ng-container>
    <ng-container matColumnDef="download">
      <th mat-header-cell *matHeaderCellDef class="ustun">Fayl</th>
      <td mat-cell *matCellDef="let element">
        <a class="download" mat-mini-fab color="primary" [attr.href]="'http://localhost:8080/api/file/download/'+element.fayl">
          <mat-icon>download</mat-icon>
        </a>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row (click)="openDialog(row)" *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>