/* .example-container {
    width: 100%;
    
 }
  
  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .example-sidenav {
    padding: 20px;
  }
  .example-spacer {
    flex: 1 1 auto;
  } */

  :host {
    display: block;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
  }
  .nav-brand {
    text-align: center;
  }
  .topnav-icon {
    text-decoration: none;
    display: flex;
    color: white;
  }
  
  .nav-spacer {
    flex: 1 1 auto;
  }
  
  .visible-md {
    display: none;
  }
  .visible-sm {
    display: none;
  }
  .menu{
    margin: 0 20px;
    width: 60px;
  }
  @media screen and (max-width: 992px) {
    .visible-md {
        display: block;
    }
  }
  @media screen and (max-width: 768px) {
    .visible-sm {
        display: block;
    }
    .nav-brand {
        width: 100%;
    }
  }
  @media screen and (max-width: 768px) {
    .hidden-sm {
        display: none;
    }
  }
  .tugmaLink{
    text-decoration:none;
  }
  