<app-top-nav></app-top-nav>

<router-outlet></router-outlet>

<!-- <div class="container">
    <h2>O'qituvchilar ro'yxati</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>HemisId</th>
          <th>Ism</th>
          <th>Familiya</th>
          <th>Kafedra</th>
          <th>Lavozim</th>
          <th>Tel-raqam</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>12411</td>
          <td>Akmal</td>
          <td>Bozorov</td>
          <td>Amaliy matematika</td>
          <td>Dekan o'rinbosari</td>
          <td>+912207040</td>
        </tr>
        <tr>
          <td>121</td>
          <td>Erkin</td>
          <td>Eshboyev</td>
          <td>Amaliy matematika</td>
          <td>O'qituvchi</td>
          <td>+912207040</td>
        </tr>
        <tr>
          <td>12411</td>
          <td>Ismoil</td>
          <td>Xurramov</td>
          <td>Amaliy matematika</td>
          <td>Dekan o'rinbosari</td>
          <td>+912207040</td>
        </tr>
        
      </tbody>
    </table>
  </div> -->

